#!/usr/bin/env ./test/libs/bats/bin/bats
load 'libs/bats-support/load'
load 'libs/bats-assert/load'


{% for utility in allUtilities %}
@test "install {{ utility }}" {
  provii install {{ utility }}
}
{% endfor %}
