PV_TEMP_DIR=$HOME/.cache

PV_SYS_PREFIX=/usr/local
PV_USER_PREFIX=$HOME/.local

PV_SYS_UID=0
PV_SYS_BIN=$PV_SYS_PREFIX/bin
PV_SYS_CFG=$PV_SYS_PREFIX/cfg
PV_SYS_SYSD=$PV_SYS_PREFIX/lib/systemd/system

PV_USER_UID=$EUID
PV_USER_BIN=$PV_USER_PREFIX/bin
PV_USER_CFG=$PV_USER_PREFIX/cfg
PV_USER_SYSD=$PV_USER_PREFIX/lib/systemd/system

# PROVII_SECRETS=1
# PROVII_SECRETS_ACL=l0xy@pm.me
